<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation) See here for more 
    details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- <pattern>%-5level %logger{0} - %msg%n</pattern> -->
            <pattern>[%-5p][%d{yyyy-MM-dd HH:mm:ss}][%C{1}.%M] %m%n
            </pattern>
        </encoder>
    </appender>

    <!--<logger name="org.hibernate" level="debug"/> -->
    <!-- Uncomment and add your logger here: <logger name="org.springframework.samples.service.service" 
        level="debug"/> -->

    <root level="debug">
        <appender-ref ref="console" />
    </root>

    <logger name="org.springframework" additivity="false" level="info">
        <appender-ref ref="console" />
    </logger>
    
    <logger name="kr.ih.lover" additivity="false" level="info">
        <appender-ref ref="console" />
    </logger>
</configuration>
